.bg-gradient-primary {
    background-image: linear-gradient(310deg, #5e72e4, #825ee4);
}

.bg-gradient-danger {
    background-image: linear-gradient(310deg, #f5365c, #f56036);
}

.bg-gradient-success {
    background-image: linear-gradient(310deg, #2dce89, #2dcecc);
}

.bg-gradient-warning {
    background-image: linear-gradient(310deg, #fb6340, #fbb140);
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg,#212229,#212529);
}