.small-text {
    font-weight: 400;
    font-size: 12px;
    color: #ccc;
}

.fs-0 {
    font-size: 11px;
}

.fs-00 {
    font-size: 14px;
}

.w-15 {
    width: 15% !important;
}

.w-25-px {
    width: 25px !important;
}
