.table {
    font-size: 0.8em;
    // color: $text-muted !important;
    // color: red !important;

    th {
        font-size: 0.8em;
    }

    td,
    th {
        vertical-align: middle;
    }

    .small-icon {
        font-size: 7px;
    }
}