.setting{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 22px;
    position: fixed;
    bottom: 0px;
    right: 20px;
}